.tableLayout {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-bottom: 24px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.card {
    margin-top: 16px;
    padding: 16px;
}