.root {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: auto;
    padding: 0;
    width: 100%;
}

.panel {
    padding: 0;
    ;
}

.divider {
    width: 1px;
    background-color: var(--mantine-color-dark-0);
    margin: 0;
    padding: 0;
}